/* Basic page set up */
.App {
  text-align: center;
  background-image: url('../../Images/codeBackground.png');
}
.App-header {
  background-image: 
  /* radial-gradient(ellipse farthest-corner at 0 140%, rgba(40,44,52,1) 0%, rgba(40,44,52,1) 70%, rgba(40,44,52,0.7021183473389356) 70%); */
  radial-gradient(farthest-corner at 40px 40px,rgba(40,44,52,1) 75%, rgba(40,44,52,0.7021183473389356) 100%);

  /* background-color: #282c34;
  background: linear-gradient(62deg, rgba(40,44,52,1) 70%, rgba(40,44,52,0.7021183473389356) 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
h1{
  font-weight: 100;
}

/* Animation of Title text and sub title */
.overlay span{
  opacity: 0;
}
.overlay span:nth-child(10){
  animation: opcacityChange 1s forwards;
  animation-delay: 1s; 
}
.overlay span:nth-child(1){
  animation: opcacityChange 0.5s forwards;
  animation-delay: 1s; 
}
.overlay span:nth-child(2){
  animation: opcacityChange 1.5s forwards;
  animation-delay: 2s; 
}
.overlay span:nth-child(3){
  animation: opcacityChange 1s forwards; 
}
.overlay span:nth-child(4){
  animation: opcacityChange 2s forwards;
  animation-delay: 2s; 
}
.overlay span:nth-child(5){
  animation: opcacityChange 2s forwards;
  animation-delay: 1s; 
}
.overlay span:nth-child(6){
  animation: opcacityChange 2.5s forwards;
  animation-delay: 1s; 
}
.overlay span:nth-child(7){
  animation: opcacityChange 1s forwards;
  animation-delay: 2.5s; 
}
.overlay span:nth-child(8){
  animation: opcacityChange 3s forwards; 
}
.overlay span:nth-child(9){
  animation: opcacityChange 2s forwards;
  animation-delay: 1s; 
}
p{
  opacity: 0;
  animation: opcacityChange 1s forwards;
  animation-delay: 3s; 
}
@keyframes opcacityChange {
    0% { opacity:0;}
    25% {opacity: 0.2}
    50% { opacity:0.3}
    62.5% {opacity: 0.5}
    75% { opacity:0.75}
    100% { opacity:1}
}

/* Mouse down Icon Positioning and Animation */
.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}
@keyframes scroll {
  0%, 20% {
  transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}
.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}
.mouse:hover .scroll{
  animation-play-state: paused;
}