/* Basic page set up */
.Contact {
    text-align: center;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    float: right;
  }
.Contact-header {
    background-image: 
    radial-gradient(farthest-corner at 40px 40px,rgba(157, 173, 204,1) 25%, rgba(157, 173, 204,0.5) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.container-full{
    width:100%;
    transition: width 1.5s ease;
}
.container-reduced{
    width:calc(100% - 280px);
    transition: width 1.5s ease;
    align-self: flex-end;
}