@font-face {
  font-family: 'Alcubierre';
  font-style: normal;
  font-weight: 100;
  src: local('Alcubierre'),
       url('AlcubierreFF/Alcubierre.otf') format('opentype')
}

body {
  margin: 0;
  font-family: "Alcubierre";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#titleCompany{
  padding: 0px 10px 0px 10px;
}