:root{
  --global-background-color: #282c34;
}

@font-face {
  font-family: 'Alcubierre';
  font-style: normal;
  font-weight: 100;
  src: local('Alcubierre'),
       url('./Fonts/AlcubierreFF/Alcubierre.otf') format('opentype')
}

body {
  margin: 0;
  font-family: "Alcubierre";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--global-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#titleCompany{
  padding: 0px 10px 0px 10px;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,h2,h3,h4{
  text-transform: uppercase;
}
h2{
  font-weight: 100;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: pointer;
}

.App{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end
}